courses/node_modules
courses/dist

siagie/node_modules
siagie/dist

auth/node_modules
auth/dist

gateway/node_modules
gateway/dist

doc/node_modules
doc/dist

payment/node_modules
payment/dist

forum/node_modules
forum/dist

community/node_modules
community/dist

calendary/node_modules
calendary/dist

auth-fix/node_modules
auth-fix/dist

swagger-docs/node_modules
swagger-docs/dist