.form-group.row.align-items-center
    h5(id="updateQuestion").col-3.text-success Update Question
    .data
        pre.mt-3.p-1.text-center.border.rounded
            code(json).mx-auto
                |  fname: 'updateQuestion
p Actualizar datos de una pregunta
br
.row.justify-content-center.mt-2
    .col.mx-2
        p.lead Body(JSON)
        div(style="height: 26rem" class=" bg-light rounded border")
            .data
                pre.p-2
                    code(json)
                        |{  
                        |    service<span class="text-danger">*</span>:"courses",
                        |    language<span class="text-danger">*</span>:"es",
                        |    fname<span class="text-danger">*</span>:"updateQuestion",
                        |    id_question: String
                        |    question : String,
                        |    answers : []
                        |}
    
    .col.mx-2
        p.lead Response(JSON)
        div(style="height: 25rem" class=" bg-light rounded border")
            .data
                pre.p-2 
                    code(json)
                        |{
                        |    "message": String,
                        |    "question": {
                        |        "_id": String,
                        |        "answers": [],
                        |        "id_lesson": String,
                        |        "question": String,
                        |        "__v": number
                        |    }
                        |}

h5.text-success.mt-4 Example
hr
.row.justify-content-center.mt-2
    .col.mx-2
        p.lead Body(JSON)
        div(style="height: 13rem" class=" bg-light rounded border")
            .data
                pre.p-2
                    code(json)
                        |{  
                        |    service:"courses",
                        |    language:"es",
                        |    fname:"updateQuestion",
                        |    id_question: "5f3eb41f2d4da514bfbb56d0",
                        |    question : "¿Que es Pyton?"
                        |}

    .col.mx-2
            p.lead Response(JSON)
                div(style="height: 25rem" class=" bg-light rounded border")
                    .data
                        pre.p-2 
                            code(json)
                                |{
                                |    "message": "Pregunta actualizada correctamente",
                                |    "question": {
                                |        "_id": "5f3eb41f2d4da514bfbb56d0",
                                |        "answers": [],
                                |        "id_lesson": "5f3804e78deb1f321c6343ea",
                                |        "question": "¿Que es Pyton?",
                                |        "__v": 0
                                |    }
                                |}
